@tailwind base;
@tailwind components;
@tailwind utilities;

react-icon {
  /* padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem; */
}

@layer utilities {
  .sideNav-button {
    @apply flex items-center justify-start  gap-6  px-[0.75rem] py-[0.5rem]   w-48 rounded-xl;
  }

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  input::placeholder {
    color: rgb(78, 67, 67);
  }
  input {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .sideNav-button:focus {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 500;
  }
  .icon {
    font-size: 0.875rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
