@tailwind base;
@tailwind components;
@tailwind utilities;


react-icon{
  /* padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem; */
}

@layer utilities {
  *{
    margin: 0px;
    padding: 0px;
  }
  .scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .icon:focus{
      background-color: rgba(0, 0, 0, 0.05);
      font-weight: 500;
  }
}